body {
    background: #222;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 4rem;
}

.main {
    display: grid;
    grid-template-columns: 1fr 242px 242px 1fr;
    color: grey;
    font-size: 1.8rem;
}

.left {
    grid-column: 2;
}

.right {
    grid-column: 3;
    font-family: consolas;

}

.center {
    display: flex;
    justify-content: center;
}

textarea {
    height: 2.2rem;
    background: #111;
    border: none;
    outline: none;
    resize: none;
    font-family: consolas;
    font-size: 1.8rem;
    color: grey;
}

#sm {
    display: grid;
    grid-template-columns: 1fr 242px 242px 1fr;
}

#score {
    color: green;
    font-size: 2rem;
    grid-column: 2;
    text-align: center;
}

#mistakes {
    color: darkred;
    font-size: 2rem;
    text-align: center;
}

a {
    display: flex;
    justify-content: center;
    color: darkgoldenrod;
}

a:visited {
    color: yellow;
}

a:hover {
    color: orangered;
}